<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends 'base.html' %}

    {% block content %}
    You are seeing the current todos
    <ul>
      {% for todo in todos %}
      <li>{% if todo.important %}
         <b>{{ todo.title }}</b>
         {% else %}
         {{ todo.title }}
         {% endif %}
         <br>
         {% if todo.memo %}
         {{ todo.memo }}
         {% endif %}
       </li>
       <br>
      {% endfor %}
    {% endblock %}
  </body>
</html>
